html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5; 
  background: rgb(216, 216, 216);
  color: rgb(0, 0, 0);
}
