.buttons {
    display: flex;
    flex-wrap: wrap;
}
.buttons__button {
    background-color: white;
    border: none;
    color: rgb(9, 114, 133);
    transition: color 1s;
    cursor: pointer;
}
.buttons__button:hover {
    color: rgb(18, 201, 233);
}
.buttons__button:active {
    border: 2px solid rgb(0, 0, 0);
}
.buttons__button:disabled {
    color: lightgray
}
@media(max-width: 767px) {
    
    .buttons__button {
       align-content: center;
       width: 100%;
       margin: 10px;
    }
    
}
